.avatar {
	overflow: hidden;
	position: relative;
	border: 4px solid transparent;
	cursor: pointer;

	> .initials {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #fc0;
		color: black;
		font-weight: 500;
		font-family: sans-serif;
		line-height: 1;
	}

	&.rounded {
		border-radius: 50%;
	}

	&:hover,
	&:focus {
		border-color: #fc0;
	}

	&.sm {
		height: 1.8rem;
		width: 1.8rem;
		font-size: 0.7rem;	
	}
	&.md {
		height: 2.2rem;
		width: 2.2rem;
		font-size: 1rem;	
	}
	&.lg {
		height: 3rem;
		width: 3rem;
		font-size: 1.1rem;
	}
	&.xl {
		height: 4.5rem;
		width: 4.5rem;
		font-size: 1.5rem;
	}
	&.xxl {
		height: 6rem;
		width: 6rem;
		font-size: 2rem;
	}
}
